# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.pkl
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# build / dist
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

*.ckpt
*.pth
*.pt
*.onnx
